$background-color:#f0f2f6;
$content-color-primary:#000000;
$content-color-secondary:#888888;

$header-background:#7c1a38;
$header-min-height:44px;
$header-color-primary:#ffffff;
$header-color-secondary:rgba($header-color-primary, 0.65);


$sidebar-background:#ffffff;
$sidebar-width:225px;
$sidebar-color-primary:#000000;
$sidebar-color-secondary:#888888;

/* gradient colors */
$pink1:rgb(130, 38, 245);
$pink2:rgb(230, 37, 234);
$primary1:#4a19c8;
$primary2:#7979ff;
$success1:#07ba7d;
$success2:#0fd793;
$warning1:#ff7800;
$warning2:#f5a811;
$danger1:#cf0723;
$danger2:#f63b55;
