$background-color:#271531;
$content-color-primary:#ffffff;
$content-color-secondary:rgba($content-color-primary, 0.65);

$header-background:#582a72;
$header-min-height:44px;
$header-color-primary:#ffffff;
$header-color-secondary:rgba($header-color-primary, 0.65);


$sidebar-background:#432753;
$sidebar-width:225px;
$sidebar-color-primary:#ffffff;
$sidebar-color-secondary:rgba($sidebar-color-primary, 0.65);

/* gradient colors */
$pink1:rgb(130, 38, 245);
$pink2:rgb(230, 37, 234);
$primary1:#4a19c8;
$primary2:#7979ff;
$success1:#07ba7d;
$success2:#0fd793;
$warning1:#ff7800;
$warning2:#f5a811;
$danger1:#cf0723;
$danger2:#f63b55;
